body {
  background-color: #f5f5f5;
}

.crewMetricsContainer {
  background-color: #ffffff;
  border: 5px solid red;

  display: flex;
  flex-direction: column;
}

.header,
.aboutCrewmetrics,
.productFeatures,
.useCases {
  display: flex;
}

.productDetails {
  display: flex;
  position: relative;
  left: 47.29%;
  list-style: none;
  border: 5px solid green;
}
.session-1 {
  display: flex;
}
.logo {
  position: relative;
  left: 13.9%;
  border: 5px solid yellow;
}
